body{
    background:url("../img/background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.center{
    text-align:center;
    align-content:center;
}
.leftAlign{
  margin-right:40px;
}
  .grid-container {
    display: grid;
    gap: 50px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.grid-container-main {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto auto auto auto ;
  padding: 10px;
}
.grid-item {
    padding: 20px;
    text-align: center;
  }
  .paddingTop{
    padding-top:20px;
  }