body{
    background:url("../img/background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.center{
    text-align:center;
    align-content:center;
}
.leftAlign{
  margin-right:40px;
}
  .grid-container {
    display: grid;
    gap: 50px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.grid-container-main {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto auto auto auto ;
  padding: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
    animation-name:presenting;
  }
  .grid-item-main {
    padding: 20px;
    text-align: center;
    
  }
  .grid-item-main-animated {
    padding: 20px;
    text-align: center;
   
  }
.grid-item-active{
  padding: 20px;
    text-align: center;
  text-shadow:3px 3px red ;
}
.grid-item-main:hover{
  cursor: pointer;
}
  .paddingTop{
    padding-top:20px;
  }
.grid-container-details{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding:10 px;
}
@keyframes presenting{
  0%{opacity:0;
        right:0px;
  }
  100%{opacity:1;
    right:100px;  }
}